table.mailinglisten {
	margin: 0;
	width: auto;
}

table.mailinglisten tbody {
	border: 0;
}

table.mailinglisten td {
	padding: 0;
	padding-right: 6px;
	margin: 0;
}

table.mailinglisten td:last-child {
	padding-right: 0;
}